@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* header section start hear */
header {
    max-width: 1440px;
    margin: 0 auto;
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 55px;
}

nav h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}

nav button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

.header {
    max-width: 1440px;
    height: 652px;
    background-image: url(../photos/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 26px;
}

.header-content {
    margin: 0 auto;
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-top: 43.1px;
}

.header-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}

.header-text a {
    text-decoration: none;
}

.header-text button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;
}

/* header section ends hear */

/* main section start hear */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 74px;
}

/* Why Web Development section ends hear */
#web-development-container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    height: 1395px;
}

.web-development-content {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.web-development-header h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding-top: 119px;
}

.web-development-header p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}

.web-dev-column {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    transition: 0.8s;
}

.web-dev-column:hover {
    transform: scale(1.1);
}

.column {
    display: flex;
    gap: 99.77px;
}

.column-text {
    width: 477px;
}

.column-text h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}

.column-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.column-text a button {
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.column-02 {
    display: flex;
    gap: 48.8px;
}


/* Why Web Development section ends hear */

/* My Inspiration section start hear */
.my-inspiration-container {
    height: 775px;
    margin-top: 88px;
    margin-bottom: 151px;
}

.my-inspiration-header {
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.my-inspiration-header h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

.my-inspiration-header p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.my-inspiration-fame {
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 48px 0;
}

.fame-content iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 32px;
}

/* My Inspiration section ends hear */

/* My Current Target section start hear */
.my-target-container {
    height: 460px;
    margin-bottom: 111px;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    transition: 0.8s;
}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
}

.card p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 284px;
    margin-bottom: 24px;
}

.card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}

#html {
    background: rgba(255, 76, 30, 0.05);
}

#css {
    background: rgba(0, 76, 232, 0.05);
}

#js {
    background: rgba(255, 223, 0, 0.05);
}

/* My Current Target section ends hear */

/* support section start hear */
.support {
    height: 314px;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
    background-image: url(../photos/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 79px;
    background-position: center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
}

.support-content {
    width: 730px;
    margin: 0 auto;
}

.support-content h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}

.support-content input {
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
}

.support-content input::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    font-size: 20px;
}

.support-content input:focus {
    outline: 0;
}

.support-content button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 0;
}

.support-content button:hover {
    background-color: green;
    color: #fff;
}

/* support section ends hear */
/* main section ends hear */

/* footer section start hear */
#footer {
    max-width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer section ends hear */